@model LiquorShop.API.Areas.Admin.Models.ViewModel.PageVM

@{
    ViewBag.Title = "PageDetail";
}

<h2>PageDetail</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.Pagedto.PageTitle)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Pagedto.PageTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Pagedto.Slug)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Pagedto.Slug)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Pagedto.Body)
        </dt>
        <dd>
            @Html.Raw(Model.Pagedto.Body)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditPAge", new {  id = Model.Pagedto.PageId  }) |
    @Html.ActionLink("Back to Pages", "Index")
</p>
